.iconContainer {
  position: relative;
  color: black;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff;
  border-radius: 50%;
  width: 10vh;
  height: 10vh; */
}

.rotateIcon {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari 3-8 */
  font-size: 11px;
}

.middleCircle2 {
  border: 1px solid black;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middleCircle {
  border: 1px solid black;
  border-radius: 50%;
  width: 65%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outterCircle {
  border: 1px solid black;
  border-radius: 50%;
  width: 90%;
  height: 75%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.innerCircle {
  border: 1px solid black;
  border-radius: 50%;
  width: 35%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
